/* overall settings*/
*{
    text-decoration-line: none;
    color: black;
}

/* page settings*/
body{
   background-image: url('../code/images/marble-white-1-2018.jpg');
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
    margin-top: 50px;
    text-align: center;

}


/* the header section */
header{
    display: block;
}
/* name at top of page*/
.display_name{
    text-align: center;
    font-family: "Lucinda Console", Courier, monospace;
    font-weight: lighter;
    transform: scale(1.5,1.8);

}
/* straight link to email at top of page */
.welcome_msg{
    text-align: center;
    font-family: "Lucinda Console", Courier;
    font-weight: lighter;
}

/* nav bar style */
ul{
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  color: black;
  font-size: x-large;
  list-style-type: none;
  margin:0;
  padding: 0px;
  text-align: center;

  background-color: white;
}

/* footer style for the majors*/
footer{

  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  font-size: smaller;
  text-align: center;
  background-color: white;
}
.footer{
  padding-top: 30px;
}/* end of footer settings*/

/* inidividual nav bar items */
li{
    color: black;
    display: inline;
    text-align: center;

     padding: 18px 14px;
     margin-left: 50px;

}

/*navgiation bar status links*/
a{
  padding: 10px 5px;
  text-align: center;
}
    
a:hover{
  text-decoration: underline;
  color:#e1ad01;

}
a:active{
  text-decoration: underline;
  background-color:#e1ad01;
  color:white;
}
a:focus{
text-decoration: underline;

  color:#e1ad01;
}
/* end of navigation bar status*/

/* label settings*/
h1 {
  font-family: sans-serif;
  font-weight:normal;

}

/* pvreall form settings*/
.form{
background-color: white;
margin: auto;
width: 380px;
height: 420px;
display: inline-block;
border: none;
text-align: left;
padding-left: 20px;
overflow: hidden;
margin-top: 20px;
}

/* name label on form */
.formname{

  color:#e1ad01;
  text-align: center;

}
/* settings for the inuput boxes on contact form*/
input[type=text],[type=email]{
  text-align: left;
  width:80%;
  padding: 8px 13px;
  margin: 5px 0;
}

/* small "required" next to label on contact form*/
p{
  display: inline;
  font-size: smaller;
  color: black;
  font-weight: lighter;
}

/* labels for the input boxes on the contact form*/
label{
  color:#e1ad01;
  text-align: left;
  font-size: smaller;
  font-weight: bolder;
}


/* submit button settings*/
.btn{
  font-size: 15px;
  color: white;
  margin-top: 15px;
  background-color: #e1ad01;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  padding: 2% 40%;

}

/* message area for contact form*/
textarea{
  border-color: #aaa;
}

/* form title*/
h1 {
  font-family: sans-serif;
  font-weight:normal;
}

/* submit button on contact form */
.btn:hover{
background-color: #ffdb58;
}

/* settings for ipad  */
@media screen and (max-width:790px){

  body{

    max-width: 100%;
    max-height: 100%;
    float: none;
    text-align: center;
  }
  .form{
    width: 400px;
    height: 390px;
    max-width: 60%;
    max-height: 60%;

    overflow: hidden;
    border: none;
  }
  textarea{
    width: 90%;
  }
  h1{
    text-align: center;
    font-size: larger;
  }
  .display_name{
    font-size: x-small;

  }
  li{
    text-align: center;
    display: block;
    font-size: smaller;

  }
  .row{
    display: block;
    margin-left: 0px;
    text-align: left;
    font-size: 10%;
    text-align: left;
    width: 100%;
  }
  
}

/* settings for mobile  */
@media screen and (max-width:476px)
{
body{
  max-height: 100%;
  max-width: 100%;
  float: none;
  text-align: center;
}
  .form{
    width: 400px;
    height: 390px;
    max-width: 80%;
    max-height: 70%;
    background-color: white;
    float: none;
    overflow: hidden;
    border: none;
    text-align: left;
  
  
  }
  textarea{
    width: 90%;
  }
   .btn{
     width: 90%;
     text-align: center;
   }
   input[type=text], [type=email]{
     display: inline;
   }
   
   h1{
     font-size: larger;
     text-align: center;
   }
   label{
     width: 80%;
   }
   .display_name{
    font-size: x-small;
    margin-bottom: 20px;

  }
  .welcome_msg{
    font-size: small;
  }
  li{
    text-align: left;
    display: block;
    font-size: smaller;

  }
  .row{
    display: block;
    margin-left: 0px;
    text-align: left;
    font-size: 10%;
    text-align: left;
    width: 400px;
  }
}


/* settings for the spacing of the logo links*/
.column{
  margin-left: 80px;
  max-height: 50px;
  max-width: 30%;
  display: inline;
  text-align: center;
}

/* linked in logo settings */
.linked_in{
  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}

/* certification logo settings */
.certification{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}

/* resume logo settings */
.resume{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}



/* this is for the linked in, resume, and certification style */
.row{
 margin-top: 70px; 
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  background-color: white;
  border-style: solid;
  text-align: left;
  content: "";
  display: table;
  clear: both;
  width: 97%;
  margin-left: 10px;

}
