*{
    text-decoration-line: none;
    color: black;
}



body {
    margin: 0;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: scroll;
}

header
{
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    /*line-height: 100px;*/

    font-size: 15px;
    /*z-index: 1000;*/
}

/* photo of cs300 project settings */
.space{
    max-width: 200px;
    max-height: 100px;
    height: 100px;
    width: 200px;

  }

.about-p{
    max-width: 200px;
    max-height: 300px;
    height: 300px;
    width: 200px; 
}
.contact-p{
    max-width: 200px;
    max-height: 300px;
    height: 300px;
    width: 200px;  
    display: block;
}
footer {
    background: #fafafa;
    min-height: 50px;
    text-align: left;
    color: #b1b1b1;
    font-size: 12px;
    line-height: 20px;
}

.project{
    background: #eee;
    height: auto;
    margin-top: -30px;
    text-align: center;
    padding: 60px 0 60px 0;
    font-size: 26px;
    line-height: 40px;
}



/*
.home-pic{
    max-width: 1300px;
    max-height: 768px;
    height: 768px;
    width: 1300px; 
}
*/
.project-pic{
    font-size: 14px;
    padding: 25px;
    padding-top: 20px;
    text-align: left;
    line-height: 24px;
    width: 45%;
    margin: 20px;
    background-color: white;
    display: inline-block;
    margin-left: 50px;
    border-style: solid;
}