
*{
    text-decoration-line: none;
    color: black;
    box-sizing:border-box
}
body{

    background-image: url('../code/images/marble-white-1-2018.jpg');
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;

}
header{
    display: block;
}

.display_name{
    text-align: center;
    font-family: "Lucinda Console", Courier, monospace;
    font-weight: lighter;
    transform: scale(1.5,1.8);

}
.welcome_msg{
    text-align: center;
    font-family: "Lucinda Console", Courier;
    font-weight: lighter;
}

ul{
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  color: black;
  font-size: x-large;
  list-style-type: none;
  margin:0;
  padding: 0px;
  text-align: center;

  background-color: white;
}
footer{

  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  font-size: smaller;
  text-align: center;
  background-color: white;
}
.footer{
  padding-top: 30px;
}
li{
    color: black;
    display: inline;
    text-align: center;

     padding: 18px 14px;
     margin-left: 50px;

}
.row{
  
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  background-color: white;
  border-style: solid;
  text-align: left;
  content: "";
  display: table;
  clear: both;
  width: 97%;
  margin-left: 10px;

}
.column{
  margin-left: 80px;
  max-height: 50px;
  max-width: 30%;
  display: inline;
  text-align: center;
}

.linked_in{
  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}
.certification{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}
.resume{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}

a{
  padding: 10px 5px;
  text-align: center;
}
    
a:hover{
  text-decoration: underline;
  color:#e1ad01;
}
a:active{
  text-decoration: underline;
  background-color:#e1ad01;
  color:white;
}
a:focus{
text-decoration: underline;
  color:#e1ad01;
}





.too_long{
  height: 500px;
  max-height: 500px;
  width: 400px;
  max-width: 400px;
  margin-left: 40px;
  padding-left: 80px;
}

 .stuborn-photo{
   height: 500px;
   max-height:450px;
   width: 400px;
   max-width: 400px;
   margin-left: 40px;
   padding-left: 80px;

 }

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#e1ad01;
  font-weight: bolder;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 476px)
{
  .display_name{
    font-size: x-small;

  }
  li{
    text-align: center;
    display: block;
    font-size: smaller;

  }

}

@media screen and (max-width:768px)
{
  .display_name{
    font-size: x-small;

  }
  li{
    text-align: center;
    display: block;
    font-size: smaller;

  }

}