
*{
    text-decoration-line: none;
    color: black;
}

body{
   background-image: url('../code/images/marble-white-1-2018.jpg');
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;

    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
    margin-top: 50px;
    text-align: center;

}



header{
    display: block;
}

.display_name{
    text-align: center;
    font-family: "Lucinda Console", Courier, monospace;
    font-weight: lighter;
    transform: scale(1.5,1.8);

}
.welcome_msg{
    text-align: center;
    font-family: "Lucinda Console", Courier;
    font-weight: lighter;
}

ul{
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  color: black;
  font-size: x-large;
  list-style-type: none;
  margin:0;
  padding: 0px;
  text-align: center;

  background-color: white;
}
footer{

  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  font-size: smaller;
  text-align: center;
  background-color: white;
}
.footer{
  padding-top: 30px;
}
li{
    color: black;
    display: inline;
    text-align: center;

     padding: 18px 14px;
     margin-left: 50px;

}
a{
  padding: 10px 5px;
  text-align: center;
}
    
a:hover{
  text-decoration: underline;
  color:#e1ad01;

}
a:active{
  text-decoration: underline;
  background-color:#e1ad01;
  color:white;
}
a:focus{
text-decoration: underline;

  color:#e1ad01;
}

h1 {
  font-family: sans-serif;
  font-weight:normal;

}


.form{
background-color: white;
margin: auto;
width: 380px;
height: 420px;
display: inline-block;
border: none;
text-align: left;
padding-left: 20px;
overflow: hidden;
margin-top: 20px;
}

.formname{

  color:#e1ad01;
  text-align: center;

}
input[type=text],[type=email]{
  text-align: left;
  width:80%;
  padding: 8px 13px;
  margin: 5px 0;
}

p{
  display: inline;
  font-size: smaller;
  color: black;
  font-weight: lighter;
}

label{
  color:#e1ad01;
  text-align: left;
  font-size: smaller;
  font-weight: bolder;
}


.btn{
  font-size: 15px;
  color: white;
  margin-top: 15px;
  background-color: #e1ad01;
  cursor: pointer;
  display:inline-block;
  text-align: center;
  padding: 2% 40%;

}

textarea{
  border-color: #aaa;
}

h1 {
  font-family: sans-serif;
  font-weight:normal;
}



.btn:hover{
background-color: #ffdb58;
}
  
@media screen and (max-width:790px){

  body{

    max-width: 80%;
    max-height: 80%;
    float: none;
    text-align: center;
  }
  .form{
    width: 400px;
    height: 390px;
    max-width: 60%;
    max-height: 60%;

    overflow: hidden;
    border: none;
  }
  textarea{
    width: 90%;
  }
  h1{
    text-align: center;
    font-size: larger;
  }
}

@media screen and (max-width:476px)
{
body{
  width: 300px;
  background-color: rgb(0, 78, 78);
  max-height: 80%;
  max-width: 80%;
  float: none;
  text-align: center;
}
  .form{
    width: 400px;
    height: 390px;
    max-width: 80%;
    max-height: 70%;
    background-color: white;
    float: none;
    overflow: hidden;
    border: none;
    text-align: left;
  
  
  }
  textarea{
    width: 90%;
  }
   .btn{
     width: 90%;
     text-align: center;
   }
   input[type=text], [type=email]{
     display: inline;
   }
   
   h1{
     font-size: larger;
     text-align: center;
   }
   label{
     width: 80%;
   }
}