
*{
    text-decoration-line: none;
    color: black;
}
body{

    background-image: url('../code/images/marble-white-1-2018.jpg');
    height: auto;
    overflow-x: hidden;

}
header{
    display: block;
}

.display_name{
    text-align: center;
    font-family: "Lucinda Console", Courier, monospace;
    font-weight: lighter;
    transform: scale(1.5,1.8);

}
.welcome_msg{
    text-align: center;
    font-family: "Lucinda Console", Courier;
    font-weight: lighter;
}

footer{

  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  font-size: smaller;
  text-align: center;
  background-color: white;
}
.footer{
  padding-top: 30px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
  padding-top: 30px;
  padding-left: 20px;
}


.column{
    text-align: center;
    background-color: white;
    border-style: solid;
    float: left;
    width: 30%;
    padding-left:30px;
    height: 450px;

    
}

.column.about:hover{
    background-image: url(../code/images/hawaii_beach.JPG);
    background-repeat: no-repeat;
    background-size: 550px 400px;
    background-position: center;

}

.column.project:hover{
    background-image: url(../code/images/yellowstone.JPG);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    background-position: center;


}
.column.contact:hover{
    background-image: url(../code/images/wheel_disney.JPG);
    background-repeat: no-repeat;
    background-size: 300px 450px;
    background-position: center;

}
h3{
    margin-top: 100%;
    font-size: xx-large;
    font-weight: 500;
    font-family: "Lucinda Console", 'Courier New', Courier, monospace;
    color:#e1ad01;
}


.columns{
  margin-left: 80px;
  max-height: 50px;
  max-width: 30%;
  display: inline;
  text-align: center;
}

.linked_in{
  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}
.certification{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}
.resume{

  max-width: 80px;
  width: 80px;
  height: 50px;
  max-height: 50px;

}

.rowss{
  
  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  background-color: white;
  border-style: solid;
  text-align: left;
  content: "";
  display: table;
  clear: both;
  width: 97%;
  margin-left: 10px;

}

a{
  text-align: center;
}
    
a:hover{
  text-decoration: underline;
  color:#e1ad01;
}
a:active{
  text-decoration: underline;
  background-color:#e1ad01;
  color:white;
}
a:focus{
text-decoration: underline;
  color:#e1ad01;
}

@media screen and (max-width: 476px)
{
    .display_name{
        font-size: x-small;
    
      }
      li{
        text-align: center;
        display: block;
        font-size: smaller;
    
      }

}

@media screen and (max-width:768px)
{
    .display_name{
        font-size: x-small;
    
      }
      li{
        text-align: center;
        display: block;
        font-size: smaller;
    
      }

}