
*{
    text-decoration-line: none;
    color: black;
}
body{

    background-image: url('../code/images/marble-white-1-2018.jpg');
    height: auto;
    overflow-x: hidden;

}
header{
    display: block;
}

.display_name{
    text-align: center;
    font-family: "Lucinda Console", Courier, monospace;
    font-weight: lighter;
    transform: scale(1.5,1.8);

}
.welcome_msg{
    text-align: center;
    font-family: "Lucinda Console", Courier;
    font-weight: lighter;
}

footer{

  font-family: "Lucinda Console", 'Courier New', Courier, monospace;
  font-size: smaller;
  text-align: center;
  background-color: white;
}
.footer{
  padding-top: 30px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
  padding-top: 30px;
  padding-left: 20px;
}


.column{
    text-align: center;
    background-color: white;
    border-style: solid;
    float: left;
    width: 30%;
    padding-left: 30px;
    height: 450px;

    
}

.column.about:hover{
    background-image: url(../code/images/hawowi.jpg);
    background-repeat: no-repeat;
    background-size: 400px 450px;

}

.column.project:hover{
    background-image: url(../code/images/maybe_coverpic.JPG);
    background-repeat: no-repeat;
    background-size: 400px 450px;

}
.column.contact:hover{
    background-image: url(../code/images/dd.jpg);
    background-repeat: no-repeat;
    background-size: 300px 450px;
    align-items: center;

}
h3{
    margin-top: 100%;
    font-size: xx-large;
    font-weight: 500;
    font-family: "Lucinda Console", 'Courier New', Courier, monospace;
    color:#e1ad01;
}